<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible_heading">Item 1</h2>
    <span class="icon-container">
      <svg class="icon icon--white collapsible_chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible_content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, autem.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible_heading">Item 1</h2>
    <span class="icon-container">
      <svg class="icon icon--white collapsible_chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible_content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, autem.
  </div>
</div>
<script src="js/main.js"></script>
