<div class="plan">
  <div class="card card--secondary">
    <header class="card_header">
      <h3 class="plan_name">Entry</h3>
      <span class="plan_price">$14</span>
      <span class="plan_billing-cycle">/month</span>
      <span class="badge badge--secondary badge--small">10% OFF</span>
      <span class="plan_description">Easy start on the cloud</span>
    </header>
    <div class="card_body">
      <ul class="list list--tick">
        <li class="list_item">Unlimited Websites</li>
        <li class="list_item">Unlimited Bandwith</li>
        <li class="list_item">100GB SSD Storage</li>
        <li class="list_item">3GB RAM</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
  </div>
</div>
