<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial_image">
      <img src="images/testimonial.jpg" alt="A happy customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--small icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote_text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste id eos
        nisi. Corrupti ex laboriosam sunt, vel hic vero velit.
      </p>
      <footer>
        <div class="media">
          <div class="media_image">
            <svg class="icon icon--primary quote_line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media_body">
            <h3 class="media_title quote_author">John Smith</h3>
            <p class="quote_organization">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
